.nav-link {
    transition-duration: 1s;
    color: black;
}

#userform {
    border-color: grey;
    border-style: solid;
    padding: 25px;
    background-color: rgb(243,108,116);
}

.concert-info-block{
    border-bottom-style: solid;
    border-width: 4px;
    border-color: rgb(115,24,35);
}

.performers{
    font-weight: bold;
}

.parallax-container {
    height: 475px;
  }
  h2{
      color:whitesmoke;
  }
  .text-center{
    font-family: 'Shrikhand', cursive;
  }
  .foot{
      color:black;
  }
  #uForm{
      background-color: white;
      padding:20px;
      margin-bottom: 30px;
  }
  .crimson{
      background-color:rgb(115, 24, 35);
  }

.bordercolor {
    border-width: 3px;
    border-style: solid;
    border-color: rgb(115,24,35);
    margin: 10px;
    padding: 5px;
}

.crimson {
    background-color: rgb(115,24,35);
}

.results {
    border-bottom: rgb(115,24,35)
}

h2 {
    font-size: 75px;
    color: whitesmoke;
    font-weight: 100;
}

.select {
    font-size: 15px;
}