.nav-link {
    transition-duration: 1s;
    color: black;
}

#userform {
    padding: 25px;
    background-color: whitesmoke;
}

.concert-info-block{
    border-bottom-style: ridge;
    border-width: 4px;
    border-color:salmon;
}
.performers{
    font-weight: bold;
}


.parallax-container {
    height: 500px;
  }
  h2{
      color:whitesmoke;
  }
  .text-center{
    font-family: 'Shrikhand', cursive;
  }

